<div class="row" style="margin:30px">
    <form action="/admin/generate-fake-data" method="post">
    <h1>Generate Fake Post Data</h1>
     <div class="form-group">
         <input type="number" class="form-control" name="ammount" />
         <br>
         <button type="submit" class="btn btn-dark"> Generate</button>
     </div>
    </form>
</div>