<div class="row">
    <form action="/admin/generate-fake-data" method="post">
    <h1>Create Fake Post Data</h1>
     <div class="form-group">
         <input type="number" name="ammount" />
         <br>
         <button type="submit"> submiit</button>
     </div>
    </form>
</div>