<h1> All Posts</h1>

<table class="table table-bordered">
   <thead>
       <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Allow Comment</th>
        <th>Staus</th>
       </tr>
   </thead>
    <tbody>
       <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Allow Comment</td>
        <td>Staus</td>
       </tr>
    </tbody>
</table>